<div class="max-w-md my-10 m-auto p-12 lg:p-16">
    <p>It looks like you haven't scheduled a session yet</p>
    <%= link_to "Schedule a new session", new_meeting_path, class: "btn btn-primary"%>
</div>