<%= form_for([@meeting, @comment], remote: true) do |form|%>
    <div class="col-md-3 mb-3 mx-auto">
        <%= form.label "Write your comment", :class => "form-label" %>
        <%= form.text_field :reply, :class => "form-control"%> 
        <%= form.submit "Create comment", :class => "btn btn-primary mt-2"%>
    </div>
<% end %>